<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="fname" value="Shashank"></parameter>
<parameter name="lname" value="Pardhiye"></parameter>
<parameter name="email" value="Shahsnak@gmail.com"></parameter>
<parameter name="pass" value="12346s"></parameter>
<parameter name="conpass" value="12346s"></parameter>
<parameter name="day" value="8"></parameter>
<parameter name="month" value="Sep"></parameter>
<parameter name="year" value="1994"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestLayer.FbRegPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
